# Enforce pnpm usage
engine-strict=true

# Auto install peers
auto-install-peers=true

# Shamefully hoist to avoid some dependency issues
shamefully-hoist=true

# Use strict peer dependencies
strict-peer-dependencies=false

# Registry
registry=https://registry.npmjs.org/

